<html>
<body style="background-color:powderblue;">

<h2>My Spotify</h2>

<p>Spotify is a digital music, podcast, and video service that gives you access to millions of songs and other content from creators all over the world.</p>

<p>Basic functions such as playing music are totally free, but you can also choose to upgrade to Spotify Premium.</p>
    
    <p>Whether you have Premium or not, you can:</p>
    
    <ul>
        <li><p>Get recommendations based on your taste</p></li>
         <li><p>Build collections of music and podcasts</p></li>
        <li><p>And more!</p></li>
    </ul>
                    
    <p>Spotify is available across a range of devices, including computers, phones, tablets, speakers, TVs, and cars, and you can easily transition from one to another with Spotify Connect.</p>
    
    <p><b>Can I keep music from Spotify?</b></p>
    <p>Spotify only gives access to music and podcasts through our apps. Our licensing means there's no way to export our content outside of the app.</p>





</body>
</html>